.home{  
    position: relative;
    display:table;
    width: 100%;
    height: 100vh;
    background-image: url(https://picsum.photos/1600/1200/?random);
    background-position: center;
    background-size:cover;  
    }

.home-shadow{
    position:absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    }

.home-text{
    width:90%;
    text-align: left;
    }

.home-text h1, h2 {
    margin-bottom: 50px;
    line-height: 42px;
    font-size: 36px;
    }

.btn{
    padding:9px 57px;
    background:none; 
    border:3px solid white;
    cursor:pointer;
    color: white;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 40%;
    text-decoration: none;
    }

h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: white;
    }

h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: white;
    }

.home-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    }

.home-text a:hover{
    background: rgb(0,0,0,0.5);
    color:white;
    }

@media only screen and (min-width: 1024px) {
.home-text{
        width:60%;
        text-align: left;
        }
    }