#offer{
    max-width:100%;
    padding:20px 14px;
    background-color: #405D78;
    align-items: center;
    }

.offer:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    }

#offer h1 {    
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    }
    
#offer span{
    margin: 0 -90px;
    position: absolute;
    font-style: normal;
    line-height: 300px;
    color:black;
    font-size: 18px;     
    }

@media only screen and (min-width: 320px) {
.box-content {
    display: block;
    margin: 20px auto;
    width: 260px;
    height: 260px;
    background: white;
    line-height: 240px;
    font-size: 24px;
    text-align: center;
    }

@media only screen and (min-width: 375px) {
.box-content {
    display: block;
    margin: 20px auto;
    width: 280px;
    height: 280px;
    background: white;
    line-height: 260px;
    font-size: 24px;
    text-align: center;
    }  
}

@media only screen and (min-width: 425px) {
.box-content {
    display: block;
    margin: 20px auto;
    width: 320px;
    height: 320px;
    background: white;
    line-height: 300px;
    font-size: 24px;
    text-align: center;
    }

#offer span {
    margin: -50px -90px;
    line-height: 450px;
    text-align: center;
    }

@media(min-width:768px){
    .box-content {
    display: block;
    margin: 20px auto;
    width: 275px;
    height: 275px;
    background: white;
    line-height: 255px;
    font-size: 24px;
    text-align: center;
    }
    
.box-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    width: 100%;
    margin: 0 auto;
    }  

#offer h1 {    
    font-size: 36px;
    }
    
#offer span {
    margin: -50px -90px;
    line-height: 400px;
    text-align: center;
    }
}
    
@media only screen and (min-width: 1024px) {
.box-container {
    display: grid;
    grid-template-columns: 28.5% 28.5% 28.5%;
    grid-template-rows: auto;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    width: 80%;
    }
    
.box-container > div:after {
    content:'';
    display: block;
    background: #f1f1f1;
    padding-bottom: 100%;
    }

.box-container > div{
    position: relative;
    box-shadow: 0px 2px 2px rgba(0,0,0, 0.25);
    }

.box-content {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    height:100%;
    font-size: 24px;
    line-height:28px;
    margin: 0px ;
    }
    
.box-content span {
    position: relative;
    padding-top: 60px;
    font-size:18px;
    }
    
.box-new:before{
    content: '';
    position: absolute;
    left:-11px;
    top:-11px;
    width: 22px;
    height: 22px;
    background: tomato;
    border-radius: 50%;
    z-index: 3;
    }

.box-container :hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    z-index: 0;
    transition-duration: 3s;
    }
    
#offer {
    max-width: 100%;
    padding: 70px 14px;
    background-color: #405D78;
    align-items: center;
    }

#offer h1 {
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    color: white;
    text-align: left;
    padding-bottom: 70px;
    }
}
}
}