.about-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width:100%;
    margin-top:30px;
    }
    
#about-head-text{
    position: relative;
    color:#152D41;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4px;
    text-align: center;
    margin-top: 34px;
    }

@media(min-width:1024px){  
#about-head-text {
    text-align: left;
    }
}

            


         
            
    