body {
    font-family:'Roboto', sans-serif;
    }

html, body {
    max-width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    }

.container{
    width:80vw;
    margin: 0 auto;
    }

nav {
    text-align:right;
    height: 50px;
    line-height: 50px;
    max-width:100%;
    background-color: black;
    }

#nav-logo{
    text-decoration: none;
    font-weight: bold;
    color:white;
    float: left;
    }

#toggle {
    display: none;
    }

.menu a {
    position: relative;
    clear: right;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    line-height: 50px;
    z-index: 1;
    }

#toggle:checked + .menu {
    display: block;
    text-align: right;
    }

label {
    font-size: 26px;
    line-height: 50px;
    display: none;
    width: 26px;
    float: right;
    color:white;
    }
    
.menu span {
    color: grey;
    }

@media only screen and (max-width: 500px) {
label {
    display: block;
    cursor: pointer;    
    }

.menu {
    text-align: center;
    width: 100%;
    display: none;
    }

.menu a {
    display: block;
    border-bottom: 1px solid white;
    opacity: .95;
    background-color: black;
    width: 100vw;
    margin-left: -10vw;
    }

#toggle:checked + .menu {
    text-align: center;
        } 
    }



