.site-footer{
    position: relative; 
    width: 100%;
    height: 71px;
    background: black;
    padding:0% 0;
    }

#foot-right{
    color:white;
    line-height: 71px;
    }

#foot-left{
    color:white;
    line-height: 71px;
    padding:10px;
    text-align:right;  
    }

.footer{
    position: relative;
    max-width:100%;
    background-color:#222;
    padding: 40px 0px;
    z-index: 10;
    }

#text-footer {
    text-align: center;
    color: white;
    display: block;
    align-items: center;
    justify-content: space-between;
    }

.footer-right{
    max-width: 100%;
    position: relative;
    line-height: 0px;
    margin-top:10px;
    text-align: center;
    }

.footer-right i{
    position: static;
    padding-right: 18px;
    }
    
.footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    }

@media(min-width:1024px){

.footer{
    position: relative;
    width:100%;
    padding: 30px 0px;
    }
    
.footer .container{
    width:80vw;
    margin: 0 auto;
    }
    
#text-footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
.footer-right{
    float: right;
    align-items: center;
    line-height: 0px;
    width:15%;
    }
    
.footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    }
.footer-right i{
    padding-right: 18px;
    }
}